<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Booking</title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
       <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/admin-login">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Admin Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                  
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                    
                  </form>
            </div>
          </div>
       </div>
    </body>
</html>